{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-md-6">
        <h5 class="caption">Hello world!</h5>
        <div align="center">
          <svg id="mainSvg" style="max-width:80%"></svg>
          <!-- NOTE: the tag below is a trick for the tree plot -->
          <h5 class="text-muted" style="text-align:center">FACS gates</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/landing/js/landing.js"></script>
{% endblock %}
