{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="panel panel-default">
    <div class="panel-body"> 
      <div class="col-lg-auto" id="centralDiv">
        <p>Select fill color:</p>
        <select id="inputTissue">
        </select>
        <select id="inputCellType">
        </select>
        <div align="center" id="mainSvgDiv">
          <svg id="mainSvg" style="max-width:80%"></svg>
        </div>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="/static/landing/js/landing.js"></script>
{% endblock %}
